.App {
  margin: 10px 50px 0px 50px;
  font-family: "Mukta", sans-serif;
}

#content::-webkit-scrollbar {
  display: none;
}

#content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.bg-custom {
  background-color: #219aeb !important;
  color: white;
}

.text-custom {
  color: #219aeb !important;
}

.bg-custom-class:hover {
  background-color: #218fd9 !important;
  color: white;
  transition: all;
  transition-duration: 400ms;
}

.icon-btn:hover {
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  transform: scale(1.4);
}

/*
 ---- MOBILE CARD -----
*/

.card-class {
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer !important;
}

.card-class:hover {
  transform: scale(1.06) !important;
}

.wishlist-btn {
  width: "fit-content";
  position: absolute;
  z-index: 999;
  top: 5px;
  right: 10px;
}

.wishlist-btn:hover {
  transform: scale(1.2);
  transition: all;
  transition-duration: 300ms;
}

/*
--- BRAND/MODELS PART ---
*/
.list-group-item-model:hover {
  cursor: pointer;
  background-color: #219aeb;
  color: white;
  transition: all;
  transition-duration: 400ms;
}

/*
--- CART PART ---
*/

.cart-list-item:hover {
  cursor: pointer;
  background-color: rgb(236, 233, 233);
  transition: all;
  transition-duration: 400ms;
}

/*
--- ABOUT PAGE PART ---
*/

@keyframes animation-slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animation-slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.Cols {
  border: 2px #219aeb solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #219aeb;
  font-weight: bold;
}

.Cols.c1 {
  animation: animation-slide 4.5s forwards;
}

.Cols.c2 {
  animation: animation-slide-in 4.5s forwards;
}

/* 
--- LIST GROUP ITEM ---
*/
.active {
  background-color: inherit !important;
  color: black !important;
  font-weight: 500 !important;
}

.list-group-item:hover {
  color: black;
}

/*
--- COMMENTS PART ----
*/

.custom-card {
  cursor: pointer;
  position: relative;
}

.custom-card:hover {
  background-color: rgb(244, 242, 242) !important;
  transition: all;
  transition-duration: 400ms;
}

/*
----- WISHLIST CARD ----
*/

.wishlist-icon-btn:hover {
  transition: all;
  transform: scale(1.2);
  transition-duration: 400ms;
}

.wishlist-card-img:hover {
  cursor: pointer;
}

/*
--- MEDIA QUERY ----
*/

@media (max-width: 576px) {
  .slide {
    min-width: 140% !important;
  }

  .carousel-inner {
    max-width: 71.5%;
  }

  .mobile-img-class {
    max-width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .slide {
    min-width: 40% !important;
  }

  .mobile-img-class {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .rounded-start-class {
    border-bottom-left-radius: 0.375rem !important;
    border-top-left-radius: 0.375rem !important;
  }

  .rounded-end-class {
    border-bottom-right-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
  }

  .rounded-end-class.rounded-bottom {
    border-bottom-left-radius: 0px !important;
  }

  .rounded-start-class.rounded-top {
    border-top-right-radius: 0px !important;
  }

  .slide {
    min-width: 25% !important;
  }

  .mobile-img-class {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .border-class {
    border-right: 1px solid lightgray;
  }
}

@media (min-width: 992px) {
  .border-class {
    border-right: 1px solid lightgray;
  }

  .slide {
    min-width: 10% !important;
  }

  .mobile-img-class {
    max-width: 50% !important;
  }
}

@media (min-width: 1400px) {
  .mobile-img-class {
    max-width: 39% !important;
  }
}
